.input {
  position: relative;
  width: 350px;
  margin: 15px auto;
  input {
    width: 100%;
    padding: 5px 15px;
    border: 2px solid gray;
    border-radius: 5px;
    &:focus {
      border-color: #7c1010 !important;
      outline: none;
    }
  }
}

.error {
  border-color: #7c1010 !important;
  box-shadow: 0 0 5px #b02c15;
}