@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.app-container {
  width: 1280px;
  margin: auto;
  border-left: 3px solid #b02c15;
  border-right: 3px solid #b02c15;
  position: relative;
}

.album-app_wrapp {
  position: absolute;
  width: 100%;
  top: 35vh;
}

.album-app__title {
  font-weight: 800;
  color: #b02c15;
  display: block;
  text-align: center;
}

.album-app__button {
  display: block;
  color: white;
  background-color: #b02c15;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  margin: auto;
  margin-top: 30px;
}