@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.app-container {
  width: 1280px;
  min-height: 100vh;
  margin: auto;
  border-left: 3px solid #b02c15;
  border-right: 3px solid #b02c15;
  position: relative;
}

.album-app_wrapp {
  position: absolute;
  width: 100%;
  top: 35vh;
}

.album-app__title {
  font-weight: 800;
  color: #b02c15;
  display: block;
  text-align: center;
}

.album-app__button {
  display: block;
  color: white;
  background-color: #b02c15;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  margin: auto;
  margin-top: 30px;
}

.not-found {
  width: 50%;
  margin: auto;
  padding-top: 15rem;
  h2, h3, button {
    color: red;
    text-align: center;
    font-weight: 600;
  }
  button {
    display: block;
    color: white;
    width: 150px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: #b02c15;
  }
}

.photos-header {
  display: block;
  font-weight: 700;
  color: white;
  width: 100%;
  position: relative;

  .photos-header__container {
    position: sticky;

    text-align: center;
    background-color: #b02c15;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.photo-card {
  border: 3px solid blue;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  .photo-card__container {
    width: 100%;
    height: 100%;
    padding: 10px;

    display: grid;
    grid-template-rows: 40px 70px 160px;
  
    h2 {
      color: red;
      text-align: center;
      font-weight: 600;
    }
    h3 {
      overflow: hidden;
      padding: 5px 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

    }
    img {
      margin: auto;
      margin-top: 10px;
    }
  }
}

.photo-page__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 45px;
  width: fit-content;
  margin: auto;
  padding: 25px 0;
}

.details-page {
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  border-radius: 15px;
  padding: 10px;
  h2 {
    color: red;
    text-align: center;
    font-weight: 600;
  }
  h3 {
    min-height: 60px;
    margin-bottom: 10px;
    text-align: center;
  }
  img {
    margin: auto;
  }
}

.arrow {
  position: relative;
  align-self: center;
  &:hover {
    .arrow__body {
      background-color: #781010;
    }
    .arrow__arrow {
      border-right-color: #781010;
    }
  }
  cursor: pointer;
  .arrow__body {
    width: 40px;
    height: 20px;
    background-color: #ff4b4b;
  }
  .arrow__arrow {
    border-left: 15px solid transparent;
    border-right: 20px solid #ff4b4b;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: -30px;
    top: -5px;
  }
}

.arrow__rotated {
  transform: rotate(180deg);
}

.arrow__disabled {
  cursor: default;
  &:hover {
    .arrow__arrow {
      border-right: 20px solid #ff4b4b;
    }
    .arrow__body {
      background-color: #ff4b4b;
    }
  }
}
.arrow__hidden {
  cursor: default;
  opacity: 0;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: auto;
  margin-top: 25px;
  padding-bottom: 25px;
  .page-navigation__page {
    font-size: 11px;
    padding: 5px;
    width: 25px;
    height: 30px;
    background-color: #b02c15;
    color: white;
    text-align: center;
    cursor: pointer;
  }
}
.page-navigation__current-page {
  background-color: white !important;
  color: #b02c15 !important;
  font-weight: 700;
  border: 2px solid #b02c15;
  transform: scale(1.2);
  padding: 3px !important;
}

.page-navigation__right-arrow, .page-navigation__left-arrow {
  width: 15px;
  height: 15px;
  border-right: 3px solid #b02c15;
  border-top: 3px solid #b02c15;
  transform: rotate(45deg);
  margin-top: 8px;
  cursor: pointer;
}
.page-navigation__left-arrow {
  transform: rotate(-135deg);
}