.icon {
  position: absolute;
  width: 22px;
  font-size: 16px;
  right: 10px;
  top: 10px;
  background-color: #808080;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  cursor: default;
}
.error {
  background-color: #7c1010;
}